{if count($products) !== 0}
    <div style="margin-left: 10%">
        <table style="width: 40%">
            <tr>
                <th>Název produktu</th>
                <th>Cena za kus</th>
                <th>Počet kusů</th>
                <th>Celková cena</th>
                <th></th>
            </tr>
            <tr n:foreach="$products as $product">
                <td>{$product->name}</td>
                <td><strong>{$product->productPrice}</strong>,- Kč</td>
                <td>{form updateCountForm-$product->id}{input count, value => $product->count}&nbsp;{input send}{/form}</td>
                <td><strong>{$product->price}</strong>,- Kč</td>
                <td><a n:href="delete! $product->id">Odstranit</a></td>
            </tr>
            <tr>
                <td style="border-top: 3px dashed black"></td>
                <td style="border-top: 3px dashed black"></td>
                <td style="border-top: 3px dashed black">{$count}</td>
                <td style="border-top: 3px dashed black"><strong>{$price}</strong>,- Kč</td>
                <td style="border-top: 3px dashed black"></td>
            </tr>
        </table>

        <h3>Odeslat košík</h3>
        {control basketSend}
    </div>
{else}
    <span>Nákupní košík je prázdný!</span>
{/if}