<div style="float: right;">
    {if $count === 0}
        <span>Nákupní košík je momentálně prázdný. <a href="{plink Homepage:}">Přidejte</a> nějaké zboží!</span>
    {else}
        <span>Nákupní košík obsahuje <strong>{$count}</strong> <a href="{plink Basket:}">položek</a> v celkové ceně <strong>{$price},- Kč</strong> | <a href="{plink Homepage:}">Přidejte další zboží</a> | <a n:href="clear!">Vyprázdnit košík</a></span>
    {/if}
</div>