<table style="width: 80%; margin-left: 10%;">
    <tr n:foreach="$products as $product">
        <td style="padding-bottom: 20px;">
            <h3>{$product->name}</h3>
            <span>Cena s DPH za 1 ks: <strong>{$product->price}</strong>,- Kč</span>
            {control addToBasket-$product->id}
        </td>
    </tr>
</table>